{% extends 'lastSeenRP/base.html' %}
{%load static%}
{%load filters%}

    {%block title%}
    Appearances by {{character_id.character_first_name}} {{character_id.character_last_name|readd_whitespace}}
    {%endblock title%}

    {%block content%}
      <div class="characterImageAndPlayedBy">
        <img src="{{character_id.character_image}}" alt="Picture of {{character.character_first_name}} {{character_id.character_last_name}}" width="300" height="400">
        {% if character_id.streamers_URL == "Unknown" %}
          <h2> Played by {{character_id.character_played_by}} </h2>
        {%else%}
          <h2> Played by <a href="{{character_id.streamers_URL}}" target="_blank">{{character_id.character_played_by}} </a></h2>
        {%endif%}
      </div>

      <div class="characterName">
        <h1> {{character_id.character_first_name}} {{character_id.character_nick_name}} {{character_id.character_last_name|readd_whitespace}} </h1>
      </div>

      <div class="characterAppearances">
        <ul class="characterList">
          {% for appear in character_id.appearance_set.all %}
              <li> appeared on {{appear.date_of_appearance}} on <a href="{{appear.twitch_clip_URL}}" target="_blank"> {{appear.clip_Streamer}}'s</a> stream. Updated at {{appear.publish_time}} </li>
              
        {% empty %}
          <li> This character has no appearances in the database. Would you like to create one?</li>
          {% endfor %}
      </ul>
    </div>
    
    <!--may remove this entirely and use twitch api to comb these details-->
      <!--<form action="?" method="post"> -->
        <form action ="{% url 'lastSeenRP:resubmit' character_id.character_first_name character_id.character_last_name %}" method="post">
        {% csrf_token %}
          <div class="Appearances">
            <h2 class="appHeading">Create an appearance for {{character_id.character_first_name}} {{character_id.character_last_name}}</h2>
          {% for field in formCreate %}
            <div class="fieldWrapper">
              {{field.errors}}
              {{field.label_tag}} {{field}}
          {%endfor%}
            </div>
          </div>
        <input type="submit" value="Submit new appearance">
      </form>
    <!--currently only shows message to show that data entry was successful. modify this when making the UI look good // bootstrap, etc-->
    {%if messages %}
    {% for message in messages %}
    <h2> {{message}} </h2>
    {% endfor %}
    {% endif %}


    
{%endblock content%}

