{%load filters%}
<!DOCTYPE html> 
<html lang="en-US">

<head>
    <title>Create Character Entry </title>
</head>
<body>
    
    <form action ="{% url 'lastSeenRP:create' %}" method="post">
        {% csrf_token %}
          <fieldset>
            <legend>Create a character entry </legend>
              {% for field in form %}
              <div class="fieldWrapper">
                {{field.errors}}
                {{field.label_tag}} {{field}}
              {%endfor%}
            </div>
          </fieldset>
        <input type="submit" value="Submit new character entry">
        </form>
        {%if messages %}
        {% for message in messages %}
            <h2> {{message}} </h2>
        {% endfor %}
    {% endif %}


</body>




</html>