{% extends 'lastSeenRP/base.html' %}
{%load filters%}

    {%block title%}
    Create Character Entry 
    {%endblock title%}

    {%block content%}
    <form action ="{% url 'lastSeenRP:create' %}" method="post">
        {% csrf_token %}
          
            <h1 class="create_header">Create a character entry </h1>
              {% for field in form %}
              <div class="create_fieldWrapper">
                {{field.errors}}
                {{field.label_tag}} {{field}}
              {%endfor%}
            </div>
          </fieldset>
        <div class="create_button">
          <input type="submit" class="btn btn-primary" value="Submit">
        </div>
        </form>
        {%if messages %}
        {% for message in messages %}
            <h2> {{message}} </h2>
        {% endfor %}
    {% endif %}

{%endblock content%}