{% extends 'lastSeenRP/base.html' %}
{%load filters%}

{%block title%}
Search Results for "{{search_query}}
{%endblock title%}

    

    {%block content%}
    <h1 id="search__title"> Results for "{{search_query}}" </h1>
    <form action="{% url 'lastSeenRP:search' %}" method='GET'>
    <div class='search-character__display'>
        <ul class="search-column__display">
            {%if search_results_list%}
                {% for result in search_results_list%}
                    <li class="search-character__list-item">
                        <div class="search__row">
                            <div>
                                <img src="{{result.character_image}}" alt="Picture of {{result.character_first_name}} {{result.character_last_name}}" width="50" height="60" class="search-character__image"> 
                            </div>
                            <div class="search-character__text">
                                <a href="{% url 'lastSeenRP:character' result.character_first_name result.character_last_name %}" class="search-character__URL">
                                    {{result.character_first_name}} {{result.character_nick_name}} {{result.character_last_name|readd_whitespace}} ({{result.character_played_by}})  
                                </a>
                            </div>
                        </div>
                    </li>
                {%endfor%}
            {%else%}
                <p>No results found for your query. </p>
            {%endif%}
        </ul>
        <nav>
            <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="search?searchQuery={{search_query}}&page=1">First</a></li>
                <li class="page-item"><a class="page-link" href="search?searchQuery={{search_query}}&page={{ page_obj.previous_page_number }}">Previous</a></li>
                <li class="page-item"><a class="page-link" href="search?searchQuery={{search_query}}&page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a></li>
            {%else %}
                <li class="page-item disabled"><a class="page-link" href="#">First</a></li>
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            {% endif %}

            <li class="page-item active"><a class="page-link" href="search?searchQuery={{search_query}}&page={{page_obj.number}}">{{page_obj.number}}<span class="sr-only">(current)</span></a></li>


            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="search?searchQuery={{search_query}}&page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a></li>
                <li class="page-item"><a class="page-link" href="search?searchQuery={{search_query}}&page={{ page_obj.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="search?searchQuery={{search_query}}&page={{ page_obj.paginator.num_pages }}">Last</a></li>
            {%else %}
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                <li class="page-item disabled"><a class="page-link" href="#">Last</a></li>
            {% endif %}
            </ul>
    </nav>
        

    </div>


{%endblock content%}