{%load filters%}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Appearances by {{character_id.character_first_name}} {{character_id.character_last_name|readd_whitespace}}</title>
  </head>
  <body>
    
    <img src="{{character_id.character_image}}" alt="Picture of {{character.character_first_name}} {{character_id.character_last_name}}" width="300" height="400">

    <a href="{% url 'lastSeenRP:index' %}">Go back to the homepage </a>
    <h1> {{character_id.character_first_name}} {{character_id.character_nick_name}} {{character_id.character_last_name|readd_whitespace}} </h1>
    {% if character_id.streamers_URL == "Unknown" %}
      <h2> Played by {{character_id.character_played_by}} </h2>
    {%else%}
      <h2> Played by <a href="{{character_id.streamers_URL}}">{{character_id.character_played_by}} </a></h2>
    {%endif%}
    <ul>
      {% for appear in character_id.appearance_set.all %}
          <li> appeared on {{appear.date_of_appearance}} on <a href="{{appear.twitch_clip_URL}}" target="_blank"> {{appear.clip_Streamer}}'s</a> stream. Updated at {{appear.publish_time}} </li>
    {% empty %}
      <li> This character has no appearances in the database. Would you like to create one?</li>
      {% endfor %}
  </ul>
  
  <!--may remove this entirely and use twitch api to comb these details-->
    <!--<form action="?" method="post"> -->
      <form action ="{% url 'lastSeenRP:resubmit' character_id.character_first_name character_id.character_last_name %}" method="post">
      {% csrf_token %}
        <fieldset>
          <legend>Create an appearance for {{character_id.character_first_name}} {{character_id.character_last_name}}</legend>
        {% for field in form %}
          <div class="fieldWrapper">
            {{field.errors}}
            {{field.label_tag}} {{field}}
          {%endfor%}
          </div>
        </fieldset>
      <input type="submit" value="Submit new appearance">
    </form>
  <!--currently only shows message to show that data entry was successful. modify this when making the UI look good // bootstrap, etc-->
  {%if messages %}
  {% for message in messages %}
  <h2> {{message}} </h2>
  {% endfor %}
  {% endif %}
  </body>
</html>