
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Appearances by {{character_id.character_first_name}} {{character_id.character_last_name}}</title>
  </head>
  <body>
    <h1> {{character_id.character_first_name}} {{character_id.character_last_name}} </h1>
    <h2> Played by {{character_id.character_played_by}} </h2>
    <ul>
    {% for appear in character_id.appearance_set.all %}
        <li> appeared on {{appear.date_of_appearance}} on {{appear.clip_Streamer}}'s stream. <a href="{{appear.twitch_clip_URL}}"> Sample clip of appearance.</a>  </li>
    {% endfor %}
  </ul>

  <!--may remove this entirely and use twitch api to comb these details-->
    <!--<form action="?" method="post"> -->
      <form action ="{% url 'lastSeenRP:resubmit' character_id.character_first_name character_id.character_last_name %}" method="post">
      {% csrf_token %}
    <fieldset>
      <legend>Create an appearance for {{character_id.character_first_name}} {{character_id.character_last_name}}</legend>
      {% if error_message %} <p><strong>{{error_message}}</strong></p> {% endif %}
      <label for="clipURL_label">Twitch clip URL: </label>
      {{form.clipURL}}
      <br>
      <label for="dateAndTime">Date of appearance : </label> 
      {{form.dateOfAppearance}}
      <br>
      <label for="clipStreamer">Channel of the clip: </label>
      {{form.channelName}}
      <!--  <label for="clipURL_label">Twitch clip URL: </label>
        <input type="text" id="clipURL"name="clipURL_label"> <br>
        <label for="dateAndTime">Date of appearance : </label> 
        <input type="datetime-local" id="dateInput" name="dateInput"> <br> 
        <label for="clipStreamer">Channel of the clip: </label>
        <input type="text" id="clipStreamerL"name="clipStreamerL"> <br> -->
    </fieldset>
    <input type="submit" value="Submit new appearance">
  </form>

    {% comment %}
      <a href="{% url 'lastSeenRP:appearanceOfCharacter"
    {% endcomment %}

  </body>
</html>