{% extends 'lastSeenRP/base.html' %}
{%load filters%}

    {%block title%}
    Create Character Entry 
    {%endblock title%}

    {%block content%}
    <div class="create-formposition">

      <div class="create-form"> 
        <form action ="{% url 'lastSeenRP:create' %}" method="post">
          {% csrf_token %}
            
              <h1 class="create-header">Create a character entry </h1>
              <div class="container">
                <div class="row">
                {% for field in form %}
                  <div class="create-fielderrors">
                    <span style="color:red">
                    {{field.errors}}
                    </span>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">{{field.label_tag}}</span>
                    </div>
                    {{field}}
                  </div>
                {%endfor%}
                </div>
              </div>

              {%if messages %}
              {% for message in messages %}
                <p style="color:red"> {{message}} </p>
              {% endfor %}
            {% endif %}
            
          <div class="create-submitbutton">
            <input type="submit" class="btn btn-primary" id="create-submitbutton__button" value="Submit">
          </div>
        </form>
      </div>
    </div>
       

        
{%endblock content%}