{% extends 'lastSeenRP/base.html' %}
{%load static%}
{%load filters %}

{%block content%}

        <h1 id="index__title">NoPixel Character List</h1>
        <div class="index-character__display">
        {%if latest_character_list %}
            <ul class="index-column__display">
            {% for character in latest_character_list%} 
                <li class="index-character__list-item"> 
                    <img src="{{character.character_image}}" alt="Picture of {{character.character_first_name}} {{character_id.character_last_name}}" width="50" height="60" class="index-character__image"> 
                    <a href="{% url 'lastSeenRP:character' character.character_first_name character.character_last_name %}" class="index-character__URL">
                        {{character.character_first_name}} {{character.character_nick_name}} {{character.character_last_name|readd_whitespace}} ({{character.character_played_by}})  </a>
                    </li> 
            {% endfor %}
        {% else %}
            <p> No characters are available. </p>
        {% endif %}
        </div>
        <nav>
                <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a></li>
                {%else %}
                    <li class="page-item disabled"><a class="page-link" href="#">First</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}

                <li class="page-item active"><a class="page-link" href="?page={{page_obj.number}}">{{page_obj.number}}<span class="sr-only">(current)</span></a></li>


                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                {%else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">Last</a></li>
                {% endif %}
                </ul>
        </nav>
{%endblock content%}