{%load static%}
{%load filters %}
<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="utf-8">
    <title>My test page</title>
    <link rel="stylesheet" href="{% static 'lastSeenRP/style.css' %}">
  </head>
  <body>
    <form action="{% url 'lastSeenRP:search' %}" method='GET'>
    <label for="searchLabel">Search for a character or a streamer</label>
    {{form.searchQuery}}
    <input type="submit" value="Search">
    </form>

        <div class="character_list">
        {%if latest_character_list %}
            <ul>
            {% for character in latest_character_list%}
                
            <li><a href="{% url 'lastSeenRP:character' character.character_first_name character.character_last_name %}">{{character.character_first_name}} {{character.character_nick_name}} {{character.character_last_name|readd_whitespace}} ({{character.character_played_by}})  </a></li> 
                {% comment %}
                    <li><a href="/lastSeenRP/character/{{character.character_first_name}}_{{character.character_last_name}}/">{{character.character_first_name}} {{character.character_last_name}} ({{character.character_played_by}})</a></li> 
                {% endcomment %} 
            {% endfor %}
        {% else %}
            <p> No characters are available. </p>
        {% endif %}
        </div>

    <div class="pagination">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
  
          <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
  
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
  </div>
    
  </body>
</html>