li a {
    color:blue
}

ul {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    
}

li {
    font-size: larger;
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}