li a {
    color:blue
}

ul {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    
}

li {
    font-size: larger;
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  border-radius: 5px;
}

.characterImageAndPlayedBy {
  float: right;
  padding: 5%;
  display: block;
}

.characterName {
  text-align: center;
}

.Appearances {
  padding-left: 5%;
}

ul.characterList {
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 10%;
  display:flex;
  flex-direction: column;
}

.create_fieldWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create_header {
  text-align: center;
}

.create_button {
  padding-top: 5%;
}